/* Bố cục tổng thể */
.product-details-form {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

/* List Category - Cột bên trái */
.category-menu {
  flex: 0 0 350px; /* Chiều rộng cố định cho list category */
}

.category-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-list li {
  font-size: 10px;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.category-list li:hover {
  color: #746f6f;
}

/* Ảnh sản phẩm - Phóng to */
.image-wrapper {
  flex: 2; /* Chiếm nhiều không gian hơn */
  height: 500px; /* Chiều cao lớn hơn */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  overflow: hidden;
}

.card-img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px
}

/* Thông tin sản phẩm - Cột bên phải */
.product-info-form {
  flex: 1 1; /* Chiếm phần còn lại */
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-price-form {
  font-size: 1.3rem;
  color: #8e7979;
  margin-bottom: 15px;
}

.button-container {
  margin-top: 20px;
}

.button-container .btn {
  font-size: 12px;

  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border: none;
  transition: background-color 0.3s ease;
}

.button-container .btn:hover {
  background-color: #333;
}